/* Estilos generales */
head{
  background: linear-gradient(to bottom, #420242, #a05896);
}
body {
  background: linear-gradient(to bottom, #f89443ee, #e09956b6);
  color: #2b0458; 
  font-family: 'Arial', sans-serif;
}

h2 {
  font-size: 45px; 
  font-style: italic;
  color: #310f01; 
  text-align: center;
  margin-top: 20px;
}

/* Estilos para las columnas */
.col-12 {
  margin-top: 20px;
}

.bg-light {
  background-color: #f7cce1; 
  border: 1px solid #f148a5; 
  border-radius: 8px;
  padding: 15px;
  font-style: italic;
}

